@model test
@{
    ViewData["Title"] = "Home Page";
    string[] dinkArray = { "dink", "dink2", "dink3" }; //array 
    // om items toe te voegen aan een array moet men geen array gebruiken maar een list.

}


    <div class="text-center">
        <h1 class="display-4">Dink</h1>

        
        @{ 
            foreach(var x in dinkArray)
            {
                <span>@x</span>
               
            }
        }
    </div>
 <!--form -->
<form method="post"> 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label asp-for="dinkArray"></label>
            <input asp-for="dinkArray" type="text" class="from-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn btn-primary">submit</button>
        </div>
    </div>
</form>



